:root {
    --orange: #ffab00;
}


p.schniecke-klasse {
    color: red;
    background-color: black;
    padding: 10px;
    display: block;
}

.lgbc_book {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 25px;
}

.lgbc_grid_0 {
    margin-bottom: 25px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
}

.lgbc_grid_0 .lgbc_book_cover {
    flex: 30%;
    position: relative;
}

.lgbc_grid_0 .lgbc_book_cover img {
    border-radius: 6px;
}

.lgbc_book_cover img.img-fluid {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.lgbc_grid_0 .lgbc_book_content {
    flex: 70%;
    padding-left: 50px;
}

.lgbc_grid_0 .lgbc_book_content h2 {
    margin: 0 0 5px 0;
    font-size: 32px;
}

.lgbc_book_author {
    display: flex;
    flex-wrap: wrap;
    color: gray;
}

.lgbc_book_author_author {
    width: auto;
    padding-right: 30px;
}

.lgbc_book_author_genre {
}

ul.lgbc_book_details {
    margin: 12px 0 24px 0;
}

ul.lgbc_book_details li {
    list-style-type: none;
    margin: 0 0 5px 8px;
}

ul.lgbc_book_details li::before {
    content: '__';
    margin-right: 4px;
    color: var(--orange);
}

.lgbc_zoom_icon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

@media (max-width: 575px) {
    .lgbc_grid_0 .lgbc_book_cover {
        flex: 100%;
        margin-bottom: 25px;
    }
    .lgbc_grid_0 .lgbc_book_content {
        flex: 100%;
        padding-left: 0;
    }
}

@media (min-width: 576px) {
    .lgbc_grid_0 .lgbc_book_cover {
        flex: 100%;
        margin-bottom: 25px;
    }
    .lgbc_grid_0 .lgbc_book_content {
        flex: 100%;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .lgbc_grid_0 .lgbc_book_cover {
        flex: 30%;
        margin-bottom: 25px;
    }
    .lgbc_grid_0 .lgbc_book_content {
        flex: 70%;
        padding-left: 50px;
    }
}


@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}